body {
    font-family: sofia-pro, sans-serif
}

.studentLi {
    margin: 10px;
    border: 1px solid grey;
    padding: 10px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.student-name-container {
    justify-content: space-between;
    margin: 10px;
    width: 1000px;
    display: inline-block;
    flex-direction: column;
    border-radius: 4px;
}

.student-name {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

.student-info {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}

.student-info div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-info .title {
    font-weight: bold;
     font-size: 18px;
}

.student-info p {
    /* this margin: 0px; resets something inherited I can't figure out - Jesse */
    margin: 0px;
    margin-top: 10px;
    font-size: 16px;
}

.student-index-item-buttons {
    margin-left: 200px;
}

.child-index-item-button{
    display: flex;
}

.child-index-item-button a {
    text-decoration: none;
}

.update-child-index-button {
    background-color: #034687;
    width: 150px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1.5;
    justify-content: right;
    margin: -50px 0 20px;
    filter: brightness(1.3);
    font-size: 13px;
    cursor: pointer;
}

.update-child-index-button:hover {
    background-color: lightskyblue;
    border-radius: 6px;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    font-size: 13px;
}

.delete-child-index-button {
    background-color: #034687;
    width: 150px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1.5;
    justify-content: right;
    margin: -100px 0 20px;
    filter: brightness(1.3);
    font-size: 13px;
    cursor: pointer;
}

.delete-child-index-button:hover {
    background-color: lightskyblue;
    border-radius: 6px;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    font-size: 13px;
}