#parent-profile-page {
    margin-top: 80px;
}

.parent-welcome-header {
    font-size: 24px;
    height: 20px;
    margin: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.update-profile-button {
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    height: 30px;
    border-radius: 3px;
    margin-left: 20px;
    background-color: green;
    color: white;
    border: 1px solid #000000;
}

.update-profile-button:hover {
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    height: 30px;
    border-radius: 3px;
    margin-left: 20px;
    background-color: green;
    opacity: 50%;
    color: white;
    border: 1px solid #000000;
}

.children-index-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
}

.children-index-header-container {
    margin-left: 20px;
}

.children-index-header {
    margin-top: 40px;
    font-family: sans-serif;
}

.parent-details {
    display: flex;
    margin-left: 40px;
    font-family: sans-serif;
    margin-top: 10px;
}

.parent-details div {
    margin-right: 15px;
    border-right: 1px solid black;
    padding-right: 10px;
}

.parent-details div:last-of-type {
    margin-right: 15px;
    padding: 0px;
    border: none;
}

.children-index {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.success-message-div {
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #527318;
    color: white;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 24px;
    transition: 3s;
    opacity: 90%;
    visibility: visible;
    z-index: 2;
    margin-top: 60px;
    padding-top: 15px;
}

.empty-success-msg-div {
    visibility: hidden;
    opacity: 0;
}