.welcome-header {
    margin-left: 40px;
    margin-top: 40px;
    max-width: 90%;
    font-family: sans-serif;
    margin-bottom: 0px;
}

.children-index-header {
    margin-left: 40px;
    margin-top: 40px;
    font-family: sans-serif;
}

.parent-details {
    display: flex;
    margin-left: 40px;
    font-family: sans-serif;
    margin-top: 10px;
}

.parent-details div {
    margin-right: 15px;
}

.children-index {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}


.success-message-div {
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #527318;
    color: white;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 24px;
    transition: 3s;
    opacity: 90%;
    visibility: visible;
    z-index: 2;
    margin-top: -40px;
    padding-top: 15px;
}

.empty-success-msg-div {
    visibility: hidden;
    opacity: 0;
}