.welcome-header {
    margin-left: 40px;
    margin-top: 40px;
    max-width: 90%;
    font-family: sans-serif;
    margin-bottom: 0px;
}

.children-index-header {
    margin-left: 40px;
    margin-top: 40px;
    font-family: sans-serif;
}

.parent-details {
    display: flex;
    margin-left: 40px;
    font-family: sans-serif;
    margin-top: 10px;
}

.parent-details div {
    margin-right: 15px;
}

.children-index {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.success-message-div, 
.empty-success-msg-div {
    width: 100%;
    height: 50px;
}
