#ourTeamContainer {
    font-family: sofia-pro, sans-serif;
    margin-left: 50px;
}

#ourTeamContainer p {
    font-size: 20px;
}

.profName {
    font-weight: bold;
    color: white;
    background-color: #527318;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

/* these classes exist if we want to add titles, which I played w but decided against - Jesse */
.profNameLine {
    font-size: 20px;
}

.profTitle {
    font-size: 16px;
    margin-top: 6px;
    color: white;
}

.ourTeamContent {
    display: flex;
    flex-wrap: wrap;
}

.teamProfile {
    height: 360px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.profileLinks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 60%;
}

.profPic1 {
    background-image: url("../../assets/Jesse_Colligan.jpeg");
    height: 200px;
    width: 300px;
    border-radius: 4px;
    border: 6px solid #527318;
    transition: box-shadow .2s;
    /* alternative border color: orange */
    /* border: 4px solid #feb72b; */
}
.profPic1:hover {
    box-shadow: 4px 4px 4px gray, -.2em 0 .4em #feb72b;
}
.profPic2:hover {
    box-shadow: 4px 4px 4px gray, -.2em 0 .4em #feb72b;
}
.profPic3:hover {
    box-shadow: 4px 4px 4px gray, -.2em 0 .4em #feb72b;
}
.profPic4:hover {
    box-shadow: 4px 4px 4px gray, -.2em 0 .4em #feb72b;
}

.profPic2 {
    background-image: url("../../assets/Danny_Yoo.jpeg");
    height: 200px;
    width: 300px;
    border-radius: 4px;
    border: 6px solid #527318;
    transition: box-shadow .2s;
}

.profPic3 {
    background-image: url("../../assets/Stephen_DiPietro.jpeg");
    height: 200px;
    width: 300px;
    border-radius: 4px;
    border: 6px solid #527318;
    transition: box-shadow .2s;
}

.profPic4 {
    background-image: url("../../assets/Antonio_Cuccu.jpeg");
    height: 200px;
    width: 300px;
    border-radius: 4px;
    border: 6px solid #527318;
    transition: box-shadow .2s;
}


