#nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #282828;
    border-bottom: 1px solid black;
    font-family: sofia-pro, sans-serif;
}


.nav-links {
    margin-right: 160px;
    margin-left: -20px;
}
.nav-links a {
padding: 30px;
font-family: sofia-pro, sans-serif;
text-decoration: none;
color: white;
font-size: 17px;
font-weight: 500;
}

#nav-bar-container .navbar-logo {
    color: #feb72b;
    margin-left: 120px;
    font-family: sofia-pro, sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}


#nav-bar-container .logoutLink {
    padding: 10px;
    color: white;
    text-decoration: none;
    background: linear-gradient(#67ae55, #527318);
    margin-right: 80px;
    box-shadow: inset 0 1px 1px #a4e388;
    font-size: 14px;
    border: none;
    border-radius: 4px;
   
    /* IMPROVEMENT: some kind of non-silly shadowing */
    /* box-shadow: 4px 2px 2px #ffe75e; */
}


#nav-bar-container .logoutLink:hover {
    cursor: pointer;
}

#nav-bar-container .signupLink {
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #527318;
    margin-right: 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

#nav-bar-container .loginLink {
    padding: 10px;
    color: white;
    text-decoration: none;
    background: linear-gradient(#67ae55, #527318);
    margin-right: 80px;
    box-shadow: inset 0 1px 1px #a4e388;
    font-size: 14px;
    border: none;
    border-radius: 4px;
   
}

.ourTeamLink {
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: white;
    margin-right: 50px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
}

.ourTeamLink:hover {
    color: white;
    background-image: url("../../assets/rainbow_gif.gif");
}

.ourTeamLink:hover::after {
  content: "We are developers for hire!" ;
  position: absolute ;
  top: 4em ;
  left: -10em ;
  min-width: 200px ;
  border: 1px #808080 solid ;
  padding: 8px ;
  color: white ;
  background-color: #527318 ;
  z-index: 1 ;
  border-radius: 4px;
}


