#admin-search-container li {
    margin: 10px;
    border: 1px solid gray;
    padding: 10px 10px 0;
    width: 1000px;
    display: inline-block;
    flex-direction: column;
    border-radius: 4px;
}

#admin-search-container .checkboxAndName {
    display: flex;
}

#admin-search-container .student-name {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

#admin-search-container .StudentInfo {
    display: flex;
    justify-content: space-between;
}

#admin-search-container .nonNameInfo {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    justify-content: flex-start;
    width: 80%;
}

#admin-search-container .nonNameInfo div {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-search-container .nonNameInfo .title {
    font-weight: bold;
    font-size: 16px;
}

#admin-search-container .nonNameInfo p {
    /* this margin: 0px; resets something inherited I can't figure out - Jesse */
    margin: 0px;
    margin-top: 10px;
    font-size: 14px;
}

.student-search-item-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.update-student-button {
    background-color: #034687;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1.5;
    margin: -50px 0 20px;
    filter: brightness(1.3);
    font-size: 13px;
}

.update-student-button:hover {
    cursor: pointer;
    background-color: lightskyblue;
    border-radius: 6px;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    font-size: 13px;
}

.delete-student-button {
    background-color: #A30000;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1.5;
    filter: brightness(1.3);
    font-size: 13px;
}

.delete-student-button:hover {
    cursor: pointer;
    background-color: salmon;
    border-radius: 6px;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    font-size: 13px;
}

 
.allergies, .specialNeeds, .medicalConditions, .gender, .grade {
    width: 15%;
}